body{
    background-color: green;}
#header{
    margin-left: 35%;
}
.navbar-light .navbar-brand{
    color:green;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
}

.mynav text{
    font-size: larger;
    font-weight: 200;
}
.navbar-nav .nav-link{
    margin-left: 20px;
}
.navbar-brand{
    color:green;
    text-align: center;
}
.container{
    background-color: grey;
}
footer{
    text-align: center;
    background-color: black;
    opacity: 0.7;
}
p{
    color: white;
}