<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <p><button class="btn btn-primary" (click)='likeButtonClick()'>Like</button>{{numberOfLikes}}</p> 
        </div>
        <div class="col-sm-6">
         <p><button class="btn btn-info"(click)='dislikeButtonClick()'>Dislike</button>{{numberOfDislikes}}</p> 
        </div>
    </div>
    <div class="like">
        <!-- <p id="like" ><span (click)="likeButtonClick()"><img class="logo" src="https://bit.ly/34d4BFZ"/></span>{{numberOfLikes}} </p>
        <p id="dislike"><span (click)="dislikeButtonClick()"><img class="logo" src="https://bit.ly/2V37pB0"/></span> {{numberOfDislikes}}</p>
    
      </div> -->
</div>
