.container{
    color:red;
    
}
p{
    color:yellow;
}
.form{
    color:red;
}
.bb{
    color:green;
}
h2{
    color:green;
}
.dc{
    background-color: greenyellow;
}
.btn{
    background-color: blue;
    color: white;
}