<div class="bb">
<div class="container">
    <h2 class="text-center">GIVE US YOUR QUOTE</h2>
    <hr>
    <div class="dc">
    <form (ngSubmit)='submitQuote()' #quotesForm='ngForm'>
        <div class="form">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="newQuote.name"#name='ngModel' required class="form-control"name='name' id="Name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>
        <div class="form">
  
            <label for="Author">Author</label>
            <input type="text" [(ngModel)]="newQuote.author"#author='ngModel' required class="form-control"name='author' id="author">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author's name is required</p>
            </div>
        </div>

        <div class="form">
  
            <label for="description">Your Quote</label>
            <textarea class="form-control"  [(ngModel)]="newQuote.quote" #quote='ngModel' name='quote' rows="4" required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Qoute is required</p>
            </div>
        </div>
        <div class="btn">
             <button type="submit" class="btn btn-success">SEND QUOTE</button>
         </div> 
    </form>
  </div>
</div>
</div>
